.floater-container {

}

.floater-container .floater:focus::-webkit-input-placeholder {
	opacity: 0 !important;
}

.floater-container .floater:focus::-moz-placeholder {
	opacity: 0 !important;
}

.floater-container .floater:focus:-moz-placeholder {
	opacity: 0 !important;
}

.floater-container .floater:focus:-ms-input-placeholder {
	opacity: 0 !important;
}

.floater-container .floater-label {
	position: absolute;
	transform: translate(0, -100%);
}

.floater-container .floater-label.hidden {
	display: none;
}

.floater-container .floater-label.visible {
	display: block;
}